/* BaseCard */

.base-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2em;
  border-radius: 15px;
  padding-bottom: 0.5em;
  width: 100%;
  background-size: contain;
  transition: all 0.2s ease-in;
  &:hover {
    transform: scale(1.0005);
  }
}

.base-card__text {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  font-weight: 600;
  text-shadow: 0 0 10px #000;
}

.base-card__gradient-border {
  position: relative;
  border-radius: 15px;
  height: 100%;
  transition: all 0.2s ease-in;
  display: flex;
  padding: 4px;
  &:hover {
    padding: 10px;
  }
}

/* NameCard */

.name-card__gradient-border {
  height: 100%;
  background-image: linear-gradient(
    45deg,
    #7a00ff,
    #00ffd5,
    #7a00ff,
    #00ffd5,
    #7a00ff
  );
  /* width: 100%;
  display: flex; */
  transition: all 0.2s ease-in;
  /* display: flex;s */
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-end;
  z-index: -1;
  padding: 4px;
}

.name-card {
  /* display: flex; */
  /* align-items: flex-end; */
  position: relative;
  height: 100%;
}

.name-card__text-container {
  height: 65%;
  background: #444;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.name-card__image-container {
  /* flex-direction: column; */
  display: flex;
  height: 120px;
  width: 120px;
  border-top: 15px solid #7a00ff;
  border-left: 15px solid #7a00ff;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 40px;
  left: 35%;
  border-radius: 80px;
  rotate: 45deg;
  z-index: -1;
}

.name-card__image {
  position: absolute;
  top: 50px;
  left: 37.5%;
  height: 115px;
  width: 115px;
  border-radius: 100px;
  border-top: 2px solid #222;
}

.name-card__name {
  color: #fff;
  padding-top: 50px;
  font-size: 1.5em;
  font-weight: 700;
  text-shadow: 0 0 10px #000;
  font-family: "Poppins", sans-serif;
}

.name-card__tag {
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  text-shadow: 0 0 10px #000;
  font-family: "Roboto Slab", sans-serif;
}
