.App {
 width: auto;
 height:auto;
 overflow: auto;
}

.Projects-button {
  padding:2%;
}
.Center-content {
  padding-top: 10%;
  margin: auto;
  width: 70%;
}

.Main-heading{
  color: #DDDDDD;
  font-size: 3.3rem;
    font-family: 'Roboto', sans-serif;
}

.Sub-heading{
  font-size: 2rem;
  color: #DDDDDD;
  font-family: 'Roboto Slab', serif;
}

.Smaller-sub-heading{
  color: #CCCCCC;
  font-family: 'Roboto Slab', serif;
  line-height: 1.8rem;
  font-size: 1.2rem;
  font-weight: 200;
}

.Heading-span{
  font-family: 'Roboto', sans-serif;
}

.Description {
  color: #CCCCCC;
  font-family: 'Roboto Slab', serif;
  line-height: 1.8rem;
  font-size: 1.2rem;
  font-weight: 200;
  width:70%;
}
.Work-and-Intrests-wrapper {
  display:flex;
  justify-content: space-around;
  align-self: center;
}

.Work-and-Intrests-wrapper  li {
 list-style: none;
 font-size: 2em;
 width:fit-content;
 padding: 5%;
}

