.App {
 width: auto;
 height:auto;
 overflow: auto;
}

.Center-content {
  display: flex;
  padding-top: 10%;
  margin: auto;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}

.Text-wrapper {
  flex:4;
}

.Main-heading{
  color: #DDDDDD;
  font-size: 3.3rem;
    font-family: 'Roboto', sans-serif;
}

.Sub-heading{
  font-size: 2rem;
  color: #DDDDDD;
  font-family: 'Roboto Slab', serif;
}

.Smaller-sub-heading{
  color: #CCCCCC;
  font-family: 'Roboto Slab', serif;
  line-height: 1.8rem;
  font-size: 1.2rem;
  font-weight: 200;
}

.Heading-span{
  font-family: 'Roboto', sans-serif;
}

.Description {
  color: #CCCCCC;
  font-family: 'Roboto Slab', serif;
  line-height: 1.8rem;
  font-size: 1.2rem;
  font-weight: 200;
  width:70%;
}
